    <div class="row">
    {% for b in bits %}
        <div class="col-xs-12 col-md-4 col-lg-4 col-sm-6 bit">
            <div class="image-preview">
            <a target="_blank" href="http://www.instagram.com/p/{{ b.code }}"><img src="{{ b.thumbnail_src }}" class="img-rounded img-responsive"/></a>
            </div>
            <a target="_blank" style="font-size: .8em" href="http://instagr.am/{{b.user.username}}">{{b.user.full_name}}</a>
            <p style="font-size: .8em; line-height: 1.3em; ">{{ b.caption }}<br/><small>{{b.time}}</small></p>
        </div>
        <div class="clearfix visible-xs-block"></div>
        {% if loop.index is divisibleby 2 %}
            <div class="clearfix visible-sm-block"></div>
        {% endif %}

        {% if loop.index is divisibleby 3 %}
            <div class="clearfix visible-md-block"></div>
            <div class="clearfix visible-lg-block"></div>
        {% endif %}
   {% endfor %}
    </div>
 
